.products {
  display: flex;
}

.product-wrapper {
  width: 100%;
  padding: 1rem 1.5rem;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  gap: 4rem;
  align-items: flex-start;
  justify-content: center;
}
