.search-bar {
  position: absolute;
  top: 70px;
  right: 110px;
  background: white;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-bar input {
  background: rgba(237, 242, 254, 1);
  padding: 0.8rem;
  font-size: 1.1rem;
  color: grey;
}
